* {
  border: 1px solid orange
}

html {
  width: 100vw;
  font-family: sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: #2b2b2b
}

article {
	box-shadow: 0px 5px 10px gray;
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
}

.drop-down-menu {
  grid-column: 10 / 13;
}

.nav-bar {
  grid-column: 1 / 6;
}

.logo {
  grid-column: 10 / 13;
}

body {
  display: grid;
  background: #efefef
}

.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.background-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.over-image {
}

.reply-arrow-container {
  display: flex;
  height: 12vh;
  width: 12vh;
  border-radius: 4em;
  justify-content: center;
  align-items: center;
  background: #fefefe;
  top: 1em;
  left: 1em;
  position: absolute;
}

.fa-reply {
  font-size: 6vh;
  transform: scaleX(-1);
}

.over-picture-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1em;
  right: 1em;
  color: #fefefe;

}

p {
  margin: 0;
}

.views {
  margin: 0.2em;
}

.large-numbers {
  font-size: 2.5em;
  margin: 0;
  align-self: center;
  color: #fefefe;
  font-weight: lighter;
}

.title-text {
  font-weight: lighter;
  margin: 0;
}

.date-text {
  margin: 0;
}

.title-area,
.link-area,
.playlist-area,
.attachment-area {
  margin: 1em;
}

.link-area {
  margin: 0 1em;
  padding: 0.5em;
  background: #efefef;
}

.small-caps {
  font-size: smaller;
}

.attachment-area {
  margin-top: 0;
}

.attachment-number {
  color: #4dacde
}
