* {
  border: 1px solid orange
}

html {
  width: 100vw;
}
header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.drop-down-menu {
  grid-column: 10 / 13;
}

.nav-bar {
  grid-column: 1 / 6;
}

.logo {
  grid-column: 10 / 13;
}

body {
  display: grid;
  grid-template-columns:
}

.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.first-card {
  grid-column: 1
}

.background-image {
  width: 100%
}

.second-card {
  grid-column: 2
}

.third-card {
  grid-column: 3
}

.fourth-card {
  grid-column: 4
}

/* .first-card {
  grid-column: 1 / 3
}
.first-card {
  grid-column: 1 / 3
}
.first-card {
  grid-column: 1 / 3
}
.first-card {
  grid-column: 1 / 3
} */
